body{
    background-image: none;
    background-color: #FFFFFF;
    
    }

form{
    margin: 10%;
}



    input{
            width: 50%;
            padding: 0.5em;
    }
    
    